<!-- hrml -->

<div style="width: 100%;" class="main"></div>
<div class="footer">
  <div class="bubbles">
    <div class="bubble" style="--size:3.1506095319504537rem; --distance:6.717114869865602rem; --position:45.66306562398911%; --time:2.4088357503988096s; --delay:-3.1092328543597842s;"></div>
    <div class="bubble" style="--size:5.0479338071229805rem; --distance:8.640796616505437rem; --position:97.61214340818665%; --time:3.9055597075712063s; --delay:-2.1074347653464103s;"></div>
    <div class="bubble" style="--size:4.325998028655378rem; --distance:6.433124785583213rem; --position:90.98417691977774%; --time:2.4116782996872543s; --delay:-3.1570135352996878s;"></div>
    <div class="bubble" style="--size:4.907192756712713rem; --distance:6.616091288262603rem; --position:0.475796036764196%; --time:3.014472642950802s; --delay:-3.5742593453225946s;"></div>
    <div class="bubble" style="--size:3.1445679685264096rem; --distance:8.691435419968588rem; --position:52.20426455816679%; --time:2.709293711621497s; --delay:-3.9406628977036964s;"></div>
    <div class="bubble" style="--size:4.559720518996123rem; --distance:6.960667801660163rem; --position:90.14085163065371%; --time:2.5571548112204314s; --delay:-3.690410437429737s;"></div>
    <div class="bubble" style="--size:4.014589845906876rem; --distance:9.904865565427187rem; --position:39.95452136543268%; --time:2.4247213966856767s; --delay:-3.0437678949395446s;"></div>
    <div class="bubble" style="--size:2.1602710364882762rem; --distance:8.743590891924878rem; --position:30.67505074205677%; --time:2.492731991696423s; --delay:-3.6046620918895536s;"></div>
    <div class="bubble" style="--size:2.8978637661977684rem; --distance:9.48773392130154rem; --position:53.99377318775523%; --time:3.897528086434176s; --delay:-3.991952781860781s;"></div>
    <div class="bubble" style="--size:2.808883309122508rem; --distance:8.252263719401565rem; --position:80.09928152524098%; --time:3.0349812082273067s; --delay:-2.906995108753365s;"></div>
    <div class="bubble" style="--size:3.4205978709015508rem; --distance:8.949739728558809rem; --position:80.16717717509759%; --time:3.661539240103301s; --delay:-3.437787214822481s;"></div>
    <div class="bubble" style="--size:3.2567545115790617rem; --distance:6.921431456918431rem; --position:97.07342124625663%; --time:2.701907767614787s; --delay:-2.647960162391909s;"></div>
    <div class="bubble" style="--size:5.573016612820042rem; --distance:9.848063111500991rem; --position:83.98071591741841%; --time:3.4793001450964973s; --delay:-2.2758539477498103s;"></div>
    <div class="bubble" style="--size:5.2054583191706465rem; --distance:6.961501993008728rem; --position:89.57152238082251%; --time:3.068811514707275s; --delay:-3.9795242936526387s;"></div>
    <div class="bubble" style="--size:2.4130680258409622rem; --distance:6.465814103846696rem; --position:68.20872481568101%; --time:3.085643110191216s; --delay:-2.9322520119683286s;"></div>
    <div class="bubble" style="--size:2.535449445064888rem; --distance:7.809027744165742rem; --position:85.49707488321017%; --time:3.6895488436309325s; --delay:-2.612937514361308s;"></div>
    <div class="bubble" style="--size:4.885335338462159rem; --distance:9.500344416710021rem; --position:79.02425249296988%; --time:3.5484945529487333s; --delay:-3.9484505624272956s;"></div>
    <div class="bubble" style="--size:3.1145198196725037rem; --distance:7.735856922652648rem; --position:41.68632145080669%; --time:2.772086949484733s; --delay:-3.143147613998001s;"></div>
    <div class="bubble" style="--size:3.073514320342694rem; --distance:6.013787191414525rem; --position:96.95173414304314%; --time:2.7128581317211835s; --delay:-2.4233053925730426s;"></div>
    <div class="bubble" style="--size:3.4468513457773193rem; --distance:8.921148211257204rem; --position:-3.311267063756582%; --time:3.1485796367014514s; --delay:-3.898778293172072s;"></div>
    <div class="bubble" style="--size:3.3933917156166116rem; --distance:9.1172096387488rem; --position:66.32255500424513%; --time:2.8743255264895087s; --delay:-3.04612763221189s;"></div>
    <div class="bubble" style="--size:3.562866952329009rem; --distance:8.16357966438158rem; --position:74.09502472115685%; --time:2.7532804775985618s; --delay:-2.7851340137684604s;"></div>
    <div class="bubble" style="--size:2.4674997813980886rem; --distance:7.804055711031525rem; --position:22.322257139470448%; --time:3.242683369621395s; --delay:-3.1851196803198296s;"></div>
    <div class="bubble" style="--size:3.2437755003938715rem; --distance:6.067465715992152rem; --position:95.62477464248951%; --time:2.2501019970370972s; --delay:-3.1977387251203506s;"></div>
    <div class="bubble" style="--size:4.649970085982875rem; --distance:6.606680434236265rem; --position:42.893553537335414%; --time:3.071591795000339s; --delay:-2.061095447797847s;"></div>
    <div class="bubble" style="--size:3.558399642384895rem; --distance:8.649823095617922rem; --position:13.573308791239064%; --time:2.2663470811420474s; --delay:-2.9151803218216923s;"></div>
    <div class="bubble" style="--size:4.52322004420642rem; --distance:6.6392402587365185rem; --position:14.961791293227375%; --time:3.599606225392426s; --delay:-2.267520130573104s;"></div>
    <div class="bubble" style="--size:3.270201563452705rem; --distance:7.805462362189511rem; --position:56.36238144886937%; --time:2.1140701657696215s; --delay:-2.1846653446121382s;"></div>
    <div class="bubble" style="--size:2.930171554421749rem; --distance:7.589214461981722rem; --position:52.55086117668868%; --time:3.385248974976428s; --delay:-3.6798408324069416s;"></div>
    <div class="bubble" style="--size:4.672514518286271rem; --distance:9.090741980369478rem; --position:104.31136395283633%; --time:2.742705915806929s; --delay:-2.896979290661461s;"></div>
    <div class="bubble" style="--size:2.1860318894555304rem; --distance:6.915288574323766rem; --position:101.80148205672204%; --time:2.430355300253606s; --delay:-2.30115125430155s;"></div>
    <div class="bubble" style="--size:5.690965171213605rem; --distance:8.007156034476846rem; --position:34.34621500994844%; --time:3.6071281641013853s; --delay:-2.62051435680375s;"></div>
    <div class="bubble" style="--size:2.8612140226542673rem; --distance:6.49933071345794rem; --position:25.529612074411386%; --time:3.030214275378395s; --delay:-3.5706346163938067s;"></div>
    <div class="bubble" style="--size:2.3187867974894596rem; --distance:9.03814655377295rem; --position:88.35861880591891%; --time:2.94537171926773s; --delay:-2.9243297186497057s;"></div>
    <div class="bubble" style="--size:2.8979297692873924rem; --distance:9.057671331968017rem; --position:91.38316409597583%; --time:3.760142269267638s; --delay:-2.936503997874267s;"></div>
    <div class="bubble" style="--size:4.286882886306847rem; --distance:8.209578232685965rem; --position:28.490478463769563%; --time:2.9754888380559708s; --delay:-2.7271717602788432s;"></div>
    <div class="bubble" style="--size:4.2275031493072115rem; --distance:9.349709521959607rem; --position:32.37922025298071%; --time:2.7277068772574458s; --delay:-2.326313527402847s;"></div>
    <div class="bubble" style="--size:4.946659461536457rem; --distance:7.781912757725098rem; --position:9.525254110309117%; --time:3.8269645516954047s; --delay:-2.798263950484394s;"></div>
    <div class="bubble" style="--size:4.0012002287519355rem; --distance:9.538122185147655rem; --position:44.90251059061941%; --time:3.001929065608795s; --delay:-2.568298992359975s;"></div>
    <div class="bubble" style="--size:5.15980387242908rem; --distance:8.473105484176875rem; --position:66.47731114001482%; --time:2.629922487536265s; --delay:-3.7350588226099437s;"></div>
    <div class="bubble" style="--size:5.94279644429949rem; --distance:7.777486479862348rem; --position:17.61559242980259%; --time:3.7743968129977663s; --delay:-2.0905275011049067s;"></div>
    <div class="bubble" style="--size:4.844872650887511rem; --distance:7.715081602856807rem; --position:3.587951184953379%; --time:3.4109393647603574s; --delay:-2.23754457246554s;"></div>
    <div class="bubble" style="--size:4.6055822600609435rem; --distance:8.202494718745136rem; --position:33.19696656893258%; --time:3.855402761535954s; --delay:-2.5676295731121797s;"></div>
    <div class="bubble" style="--size:5.822770747340423rem; --distance:9.84973825958201rem; --position:75.99067472781446%; --time:3.386218305158383s; --delay:-3.718981937580843s;"></div>
    <div class="bubble" style="--size:2.9867760284059965rem; --distance:6.473484511350289rem; --position:87.49454805501969%; --time:3.321822017657075s; --delay:-3.6099678728522426s;"></div>
    <div class="bubble" style="--size:3.6312642381856817rem; --distance:9.419517749316487rem; --position:99.2539951267727%; --time:3.600161765395792s; --delay:-3.4841920170316207s;"></div>
    <div class="bubble" style="--size:4.077535610402026rem; --distance:7.8990937481179rem; --position:97.63571482105412%; --time:3.359212214754269s; --delay:-2.0457633202801073s;"></div>
    <div class="bubble" style="--size:5.157019798046808rem; --distance:7.944246626880185rem; --position:67.79455582383417%; --time:3.7493596178694s; --delay:-3.2326524064596716s;"></div>
    <div class="bubble" style="--size:2.4962274393663018rem; --distance:9.36794439989611rem; --position:63.78858385521902%; --time:3.2809693407486433s; --delay:-3.8352780128273514s;"></div>
    <div class="bubble" style="--size:3.860323544729928rem; --distance:7.47929895536398rem; --position:23.38023022062252%; --time:3.858960614841137s; --delay:-3.6312211744572385s;"></div>
    <div class="bubble" style="--size:4.804698733099959rem; --distance:8.868824401529018rem; --position:40.08838377190508%; --time:2.167502591403963s; --delay:-2.6348224104133044s;"></div>
    <div class="bubble" style="--size:2.072193266238834rem; --distance:9.053461832378535rem; --position:65.30745186184853%; --time:3.794650917185702s; --delay:-2.2730444416948234s;"></div>
    <div class="bubble" style="--size:3.5794213457365673rem; --distance:9.249032274049723rem; --position:94.12725005186635%; --time:3.378245734756492s; --delay:-2.249292441820536s;"></div>
    <div class="bubble" style="--size:3.6900380918180495rem; --distance:7.002604104431797rem; --position:93.53250223354893%; --time:2.5596890177358307s; --delay:-2.9048976462791325s;"></div>
    <div class="bubble" style="--size:4.478680928840818rem; --distance:7.356247297936906rem; --position:85.65878703986621%; --time:3.9837299241883297s; --delay:-3.1732003029810167s;"></div>
    <div class="bubble" style="--size:4.592728998852226rem; --distance:6.374842711210403rem; --position:49.92483358506546%; --time:3.1036193123328824s; --delay:-3.7014546798070485s;"></div>
    <div class="bubble" style="--size:4.92384287652539rem; --distance:6.155388554737613rem; --position:84.33806703158884%; --time:3.2421749466153873s; --delay:-2.378810258038728s;"></div>
    <div class="bubble" style="--size:4.238081994929629rem; --distance:6.397511314956611rem; --position:80.40537769970753%; --time:3.0831428366588036s; --delay:-3.5262619398790633s;"></div>
    <div class="bubble" style="--size:5.693656276184589rem; --distance:9.372102724219076rem; --position:30.14097639980296%; --time:2.675644830229794s; --delay:-2.299942524955824s;"></div>
    <div class="bubble" style="--size:5.375034645430182rem; --distance:6.804019356273089rem; --position:59.52631519668944%; --time:3.4105863737090343s; --delay:-3.083331026191515s;"></div>
    <div class="bubble" style="--size:4.479632199908195rem; --distance:6.402026678683573rem; --position:60.268716487060956%; --time:3.5234344719229633s; --delay:-2.382452344456692s;"></div>
    <div class="bubble" style="--size:4.7248184018008565rem; --distance:6.649272306085449rem; --position:99.61842180462314%; --time:3.655089148487474s; --delay:-3.9139952253242027s;"></div>
    <div class="bubble" style="--size:5.438997736642019rem; --distance:8.961855689837568rem; --position:65.81980881296535%; --time:3.9756400340698677s; --delay:-3.6067389450957035s;"></div>
    <div class="bubble" style="--size:3.1396696450545534rem; --distance:8.160300282964087rem; --position:95.93339649782075%; --time:2.8699512630653916s; --delay:-2.8065247260989463s;"></div>
    <div class="bubble" style="--size:3.9235994582624887rem; --distance:6.152812998565793rem; --position:103.69497312216055%; --time:2.488362025189673s; --delay:-3.505535605137506s;"></div>
    <div class="bubble" style="--size:2.472424447620525rem; --distance:6.251422790100807rem; --position:99.24744827624235%; --time:3.2694209227043927s; --delay:-2.8801138701651805s;"></div>
    <div class="bubble" style="--size:3.0009620540393644rem; --distance:7.135910257890197rem; --position:29.13357983257695%; --time:3.3322271530214893s; --delay:-3.3120365757745773s;"></div>
    <div class="bubble" style="--size:4.195027591761808rem; --distance:9.495375442988216rem; --position:57.641942739796136%; --time:2.11890441297397s; --delay:-2.158981929218141s;"></div>
    <div class="bubble" style="--size:2.962166858763749rem; --distance:9.241521311404554rem; --position:75.10118617675683%; --time:2.9212000378978753s; --delay:-2.2167734692208523s;"></div>
    <div class="bubble" style="--size:4.422125796459722rem; --distance:9.285153065841389rem; --position:71.3634069916839%; --time:2.331300565856966s; --delay:-3.747865502160949s;"></div>
    <div class="bubble" style="--size:5.325457157612178rem; --distance:7.331072506247777rem; --position:65.71330977635621%; --time:3.1829010013345105s; --delay:-3.522060618888655s;"></div>
    <div class="bubble" style="--size:5.059379857902255rem; --distance:6.6739440751254655rem; --position:100.8920458740955%; --time:2.5445846551081925s; --delay:-2.912614530958897s;"></div>
    <div class="bubble" style="--size:4.55256250914889rem; --distance:6.631064891688445rem; --position:91.94458911680823%; --time:2.4008059452296506s; --delay:-2.1423444160335485s;"></div>
    <div class="bubble" style="--size:4.127083616971492rem; --distance:9.793703751334395rem; --position:104.20972431340013%; --time:3.3118566675686445s; --delay:-3.6701096408279956s;"></div>
    <div class="bubble" style="--size:4.75956285500686rem; --distance:8.045927479242943rem; --position:-4.780039562368941%; --time:2.2391721279637644s; --delay:-3.9496619473819634s;"></div>
    <div class="bubble" style="--size:2.6921361896107445rem; --distance:7.802020383193621rem; --position:68.67237866208035%; --time:2.578821556840406s; --delay:-3.112226351394905s;"></div>
    <div class="bubble" style="--size:5.4981046238330515rem; --distance:9.228783426994347rem; --position:51.882040987838394%; --time:2.570982459761514s; --delay:-2.0543345916110534s;"></div>
    <div class="bubble" style="--size:2.488534600747549rem; --distance:9.39706933656863rem; --position:78.8107254748576%; --time:3.7368363777271583s; --delay:-2.2368159322786183s;"></div>
    <div class="bubble" style="--size:2.0808447696305175rem; --distance:9.55988548828713rem; --position:93.01215424959803%; --time:3.654467780177349s; --delay:-2.3418758177387002s;"></div>
    <div class="bubble" style="--size:4.461570928899713rem; --distance:9.221467719210835rem; --position:63.61793609808592%; --time:2.184555118912599s; --delay:-2.906532999272954s;"></div>
    <div class="bubble" style="--size:4.517808441245406rem; --distance:9.28521536872167rem; --position:66.01852441005876%; --time:3.05695222346347s; --delay:-2.6766894949266415s;"></div>
    <div class="bubble" style="--size:2.868073892496631rem; --distance:6.135114866707665rem; --position:35.49449821923667%; --time:2.2289906254441383s; --delay:-2.0895989611950863s;"></div>
    <div class="bubble" style="--size:3.155628382793612rem; --distance:6.070340763795626rem; --position:24.83202022066781%; --time:3.436961403129083s; --delay:-3.3609505562958497s;"></div>
    <div class="bubble" style="--size:2.1110787964871536rem; --distance:9.572958136932542rem; --position:64.6217570588494%; --time:3.047669828600432s; --delay:-2.4700546490193047s;"></div>
    <div class="bubble" style="--size:5.487231919762746rem; --distance:9.564122213275688rem; --position:75.01879995502664%; --time:2.5043769168420345s; --delay:-3.37616903573827s;"></div>
    <div class="bubble" style="--size:2.462566340720202rem; --distance:8.524906657902804rem; --position:28.281976431966903%; --time:3.336757250095432s; --delay:-3.0363379444783716s;"></div>
    <div class="bubble" style="--size:2.099969465006037rem; --distance:7.8084621159271155rem; --position:39.10336832668016%; --time:3.1377092644045823s; --delay:-2.4967190703302875s;"></div>
    <div class="bubble" style="--size:4.54261209919399rem; --distance:6.792231410028319rem; --position:72.77366231854579%; --time:2.625188789991246s; --delay:-3.5887272789735385s;"></div>
    <div class="bubble" style="--size:5.144260083139863rem; --distance:8.729978883341477rem; --position:85.95510213367449%; --time:3.069231262220276s; --delay:-3.799076018133837s;"></div>
    <div class="bubble" style="--size:4.7240427746587095rem; --distance:8.929147220054155rem; --position:64.6424029728279%; --time:3.624379357843931s; --delay:-2.800540457945972s;"></div>
    <div class="bubble" style="--size:3.0267476591241893rem; --distance:9.336550687004996rem; --position:36.87707726925135%; --time:2.4533459087577603s; --delay:-2.9899950379426774s;"></div>
    <div class="bubble" style="--size:4.980187404932305rem; --distance:9.87465439732108rem; --position:99.6128785627885%; --time:2.8709391168914875s; --delay:-3.084008476508097s;"></div>
    <div class="bubble" style="--size:5.66890671748138rem; --distance:8.011893691127447rem; --position:3.5843279848288283%; --time:2.6685330333804576s; --delay:-2.242123349706173s;"></div>
    <div class="bubble" style="--size:4.121293985257957rem; --distance:7.914758152718021rem; --position:28.929992584447263%; --time:2.916658462173246s; --delay:-3.905648418060476s;"></div>
    <div class="bubble" style="--size:4.670998655788883rem; --distance:9.648196072097846rem; --position:7.853349513878893%; --time:3.190007311086721s; --delay:-2.1181436876248303s;"></div>
    <div class="bubble" style="--size:4.506202800494691rem; --distance:9.291751619127696rem; --position:79.7371696302836%; --time:3.0373610437996956s; --delay:-3.5881821016857813s;"></div>
    <div class="bubble" style="--size:2.533110822783132rem; --distance:7.947736542556932rem; --position:75.37111266823219%; --time:3.0604687333725678s; --delay:-3.795056545592651s;"></div>
    <div class="bubble" style="--size:4.175066905659261rem; --distance:8.668751605297265rem; --position:45.835020266589865%; --time:2.1344298848083394s; --delay:-2.169034826426332s;"></div>
    <div class="bubble" style="--size:2.519096921539627rem; --distance:8.396222915046613rem; --position:81.85383070667673%; --time:3.206215807350299s; --delay:-3.9736220062300753s;"></div>
    <div class="bubble" style="--size:2.184392178836939rem; --distance:6.423813783192882rem; --position:37.08409888888204%; --time:3.5396923422656124s; --delay:-3.8778572871583696s;"></div>
    <div class="bubble" style="--size:3.835995317974601rem; --distance:9.958752379760941rem; --position:45.428302160154765%; --time:2.3562885873067265s; --delay:-2.2695294569466875s;"></div>
    <div class="bubble" style="--size:4.306941800298019rem; --distance:9.994376328720012rem; --position:5.5655741796981175%; --time:2.263697094246629s; --delay:-3.2430376171171607s;"></div>
    <div class="bubble" style="--size:5.436029145935699rem; --distance:9.639370761982166rem; --position:22.222555315609757%; --time:2.983796516770436s; --delay:-2.2294200359983263s;"></div>
    <div class="bubble" style="--size:4.586005101340624rem; --distance:8.643075022764643rem; --position:102.03548617010543%; --time:2.8326938698462754s; --delay:-2.663774676135827s;"></div>
    <div class="bubble" style="--size:4.016420720946872rem; --distance:9.255953799194632rem; --position:35.17566385133101%; --time:3.299576561223643s; --delay:-2.8427230277786295s;"></div>
    <div class="bubble" style="--size:3.3464334526601816rem; --distance:6.676281494536022rem; --position:53.645799795026015%; --time:2.485832734272178s; --delay:-3.1440132127259615s;"></div>
    <div class="bubble" style="--size:2.4806831823886837rem; --distance:6.307729063767238rem; --position:40.20039475947383%; --time:3.4531926517458538s; --delay:-3.0719979647727524s;"></div>
    <div class="bubble" style="--size:5.318186714141099rem; --distance:9.03420573352431rem; --position:17.709342826906788%; --time:2.0705323218679434s; --delay:-2.9993026873266304s;"></div>
    <div class="bubble" style="--size:3.6872788017084916rem; --distance:7.995940885799043rem; --position:102.46543555436669%; --time:2.125804563746254s; --delay:-2.7830153836185176s;"></div>
    <div class="bubble" style="--size:2.251379676549872rem; --distance:9.053450925776037rem; --position:14.476640131338737%; --time:2.221614348141008s; --delay:-2.069971377010957s;"></div>
    <div class="bubble" style="--size:4.594736432141264rem; --distance:8.302769298696097rem; --position:79.5247022972744%; --time:2.952789111186577s; --delay:-3.9999197151036228s;"></div>
    <div class="bubble" style="--size:2.319078718095021rem; --distance:6.336567875206628rem; --position:12.324716796063282%; --time:2.962083405807814s; --delay:-3.436266158372585s;"></div>
    <div class="bubble" style="--size:5.703428331693525rem; --distance:7.181753667905439rem; --position:41.25497556770838%; --time:2.325369605451267s; --delay:-3.0574821879703653s;"></div>
    <div class="bubble" style="--size:3.184099624328014rem; --distance:6.520665134777566rem; --position:-3.976156102547286%; --time:3.869479369810151s; --delay:-2.403220860950318s;"></div>
    <div class="bubble" style="--size:5.456345561681196rem; --distance:7.776550589326231rem; --position:59.30443937152998%; --time:3.8205826404619567s; --delay:-2.662275113554192s;"></div>
    <div class="bubble" style="--size:4.865068932184859rem; --distance:7.710820464230003rem; --position:79.81722991949883%; --time:3.0680587596033226s; --delay:-2.661817097472472s;"></div>
    <div class="bubble" style="--size:2.3381489694884277rem; --distance:7.709600531441067rem; --position:61.7664835248444%; --time:3.20470295495611s; --delay:-3.293859396875104s;"></div>
    <div class="bubble" style="--size:3.4260994883639633rem; --distance:8.091863384888256rem; --position:90.20932452470703%; --time:3.0584799936569205s; --delay:-3.4967069378890745s;"></div>
    <div class="bubble" style="--size:4.071946971951812rem; --distance:7.832205441402707rem; --position:47.01540310932233%; --time:3.961318299792869s; --delay:-2.850933774296356s;"></div>
    <div class="bubble" style="--size:5.596733305310087rem; --distance:8.081022292293495rem; --position:43.770568132593%; --time:3.0033222332249436s; --delay:-3.1444645855296307s;"></div>
    <div class="bubble" style="--size:5.6656546453819185rem; --distance:7.541099120445531rem; --position:23.179173071628686%; --time:2.31644345420074s; --delay:-3.5529081074641673s;"></div>
    <div class="bubble" style="--size:4.099812701633099rem; --distance:6.899667011944104rem; --position:9.689661005155015%; --time:2.2804291773314618s; --delay:-3.8117401359407723s;"></div>
    <div class="bubble" style="--size:2.4427689767049454rem; --distance:7.2746547053304464rem; --position:47.032958592897046%; --time:3.4274205251061907s; --delay:-2.3689825242301397s;"></div>
    <div class="bubble" style="--size:2.6087301959798106rem; --distance:9.774066433819588rem; --position:28.89737916045152%; --time:2.550837987949202s; --delay:-3.1280876621877356s;"></div>
    <div class="bubble" style="--size:5.463082811385775rem; --distance:8.555789437757088rem; --position:23.060925875153195%; --time:2.7045890623256477s; --delay:-2.76902019330925s;"></div>
    <div class="bubble" style="--size:3.871189742357931rem; --distance:6.505565743819965rem; --position:-0.42032479685894586%; --time:3.553348761195486s; --delay:-2.341847635563946s;"></div>
    <div class="bubble" style="--size:4.831956073956295rem; --distance:6.995565714841956rem; --position:90.66859914875612%; --time:3.4493080010301167s; --delay:-2.1484960207259474s;"></div>
    <div class="bubble" style="--size:3.4756226333832654rem; --distance:6.182376516730844rem; --position:56.4676551847771%; --time:2.4850026915867462s; --delay:-3.936924523632609s;"></div>
  </div>
  <div class="content">
    <div>
      <div><b>Eldew</b><a href="#">Secuce</a><a href="#">Drupand</a><a href="#">Oceash</a><a href="#">Ugefe</a><a href="#">Babed</a></div>
      <div><b>Spotha</b><a href="#">Miskasa</a><a href="#">Agithe</a><a href="#">Scesha</a><a href="#">Lulle</a></div>
      <div><b>Chashakib</b><a href="#">Chogauw</a><a href="#">Phachuled</a><a href="#">Tiebeft</a><a href="#">Ocid</a><a href="#">Izom</a><a href="#">Ort</a></div>
      <div><b>Athod</b><a href="#">Pamuz</a><a href="#">Vapert</a><a href="#">Neesk</a><a href="#">Omemanen</a></div>
    </div>
    <div><a class="image" href="https://codepen.io/z-" target="_blank" style="background-image: url(&quot;https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/happy.svg&quot;)"></a>
      <p>©2019 Not Really</p>
    </div>
  </div>
</div>
<svg style="position: fixed; top: 100vh">
  <defs>
    <filter id="blob">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
      <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
    </filter>
  </defs>
</svg>
<br>
<!-- css -->
<style>
    body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  overflow-x: hidden;
  background: #F5F7FA;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  width: 100%;

}
body .footer {
  z-index: 1;
  --footer-background:#ED5565;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
  width: 100%;

}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
    width: 20%;
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
</style>